@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  background: #0f0a1f;
  overscroll-behavior: none;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
